<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Loja de Sonhos</title>
</head>
<body>
	<nav th:fragment="menu">
		<div class="nav-wrapper pink lighten-4">
			<a href="#" class="brand-logo">Loja de Sonhos</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/lojadesonhos/form">Adicionar Pedido</a></li>
				<li><a href="/lojadesonhos/formCliente">Login Cliente</a></li>
				<li><a href="/lojadesonhos/formFuncionario">Login Funcionário</a></li>
				<li><a href="/lojadesonhos/formGerente">Login Gerente</a></li>
				<li><a href="/lojadesonhos/formUsuario">Login Usuário</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>