<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Loja de Sonhos</title>
</head>
<body>
	<h1>Adicionar Pedido</h1>

	<form action="">
		<div>
			<label>Valor</label> <input type="text" name="valor">
		</div>

		<div>
			<label>Recheio</label> <input type="text" name="recheio">
		</div>

		<div>
			<label>Data</label> <input type="text" name="dataCompra">
		</div>

		<div>
			<label>Horário</label> <input type="text" name="horarioCompra">
		</div>

		<div>
			<button type="submit">Salvar</button>
			<button type="reset">Limpar</button>
		</div>

	</form>
</body>
</html>